.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light {
  background-color: aliceblue;
}

.dark {
  background-color:darkgray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  place-items: center;
  height: 100vh;
}

  .modalContent {
    background: lavender;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    z-index: 1001;
    max-width: 50%;
    border: 1px solid black;
  }
  .header {
    display: flex;
  }

  .header__closeButton {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }

  .header__closeButton span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 1px;
      background-color: #333;
      transform-origin: center;
}

.header__closeButton span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.header__closeButton span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}